body{
    background: url("../images/crystal ball.jpg") no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
h1 {
    color: #1D031D;
    text-align: center;
}
h2 {
    text-align: center;
    color: #EBB6C0;
}
h3 {
    text-align: center;
    color: #469CB6;
    margin-top: 10px;
}

.img-responsive {
    margin: 5px;
}
#target {
    font-size: 50px;
    color: #EBB6C0;
    text-align: center;
}
.number {
    font-size: 50px;
    color: #EBB6C0;
    text-align: center;

}
.score {
    font-size: 30px;
    color: #469CB6;
    text-align: center;
}
